.purchaseDetail{
}

.purchaseHeader {
  text-transform: uppercase;
  font-weight: 600;
}

.purchaseImage {
  height: 140px;
  margin: auto;
  display: block;
}

.purchaseItems {
  border-top: 2px solid black;
}

.purchaseItemsHeader {
  font-size: 1.5em;
  font-weight: bold;
}
