.locationHeader {
  text-transform: uppercase;
  font-weight: 600;
}

.boxHeader {
  font-weight: 600;
}

.locationImage {
  height: 80px;
  width: 80px;
}

.boxImage {
  height: 60px;
  width: 60px;
}
