.App {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

.logo {
  align-content:center;
  margin: auto;
  display: block;
  max-width: 100%;
}

.legend {
  padding-bottom: 10px;
}

.title-big {
  width:100%;
}

.loginLink{
  cursor:pointer;
  color: blue;

}

.loginLink:hover{
    color: blue;
    text-decoration: underline;
}

.nav-button{
    border-radius: 1.5rem !important;
    padding: .15rem 1.75rem !important;
    line-height: 1 !important;
    margin: 0 5px;
}

.clickable {
  cursor: pointer;
}

.aboutDiv {
  margin: 15px;
}

.aboutHeader {
  font-size: 2em;
  font-weight: bold;
}

.addEditGroup{
  margin: 0 2px;
  color: green;
}
